/* body {
    font-family: Nato Sans;

} */
.container {
    background: #c0b6ec;
    height: 100vh;
    width: 100%;
    padding: 50px;
    font-family: Nato Sans;
}
.form-container {
    max-width: 750px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) ;
    padding: 96px 98px 100px 98px;
}

.input-container label {
    display: block;
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: 600;
    color: #666;
}
.input-item {
    width: 100%;
    padding: 16px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border-radius: 8px;
    border: 1px solid #CCC;
    background: var(--W-Background, #FFF);
    margin-bottom: 8px;
    outline: none;
}
.input-rule, .input-error {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.input-rule {
    color: #666;
}
.input-error {
    display: none;
    color: #EB5757;
}

.input-item:focus {
    border-radius: 8px;
    border: 2px solid var(--Keatext-purple, #7A5CFA);
    background: var(--W-Background, #FFF);
}

.input-item:invalid {
    border-radius: 8px;
border: 2px solid var(--Red, #EB5757);
background: var(--W-Background, #FFF);
}

.input-item:invalid + .input-error {
    display: inline-block;
}
/* .input-item:invalid::after {
    content: url(../image/exclemation.svg);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;

}
.input-container {
    position: relative;
} */

.switch {
display: inline-block;
width: 49px;
height: 24px;
position: relative;
}
.switch input {
    display: none;
    outline: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 32px;
    transition: 0.4s;
}
.slider::before {
position: absolute;
content: "";
width: 16px;
height: 16px;
left: 2px;
bottom: 2px;
background-color:  #b0b0b0;
border: 1px solid  #5d5b5b;
border-radius: 50%;
transition: 0.4s;
}
#toggle:checked + .slider {
    background-color: #7A5CFA;
}
#toggle:checked + .slider::before {
    transform: translateX(25px);
}

/* .toggle-off {
    display: none;
}
.toggle-on {
    display: block;
} */